---
import playlistImage from '~/assets/images/playlist-of-holding.jpg';
import realmsImage from '~/assets/images/forgotten-realms.jpg';
---

<div class="container">
  <div class="card">
    <img src={playlistImage.src} alt="Playlist of Holding 2025" />
    <div class="card-content">
      <h2>By the Fans, For the Fans: The Playlist of Holding 2025 is Ready to Rock</h2>
      <p>
        Need to give your D&D session some Bardic Inspiration? D&D's Playlist of Holding 2025 is full of more rock,
        metal, and arcane energy than an infernal blacksmith in the Nine Hells.
      </p>
      <a href="/terms" class="read-more dnd-blog-button">Read More</a>
    </div>
  </div>
  <div class="card">
    <img src={realmsImage.src} alt="Forgotten Realms" />
    <div class="card-content">
      <h2>From Icewind Dale to Calimport: A Sandbox of Adventure in the Forgotten Realms</h2>
      <p>
        The Forgotten Realms are an endless tapestry of adventure. From the frozen expanse of Icewind Dale to the
        shadowed streets of Baldur's Gate, Forgotten Realms: Adventures in Faerûn helps you run campaigns in these
        iconic locations.
      </p>
      <a href="/terms" class="read-more dnd-blog-button">Read More</a>
    </div>
  </div>
</div>
<style>
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .card {
    background-color: black;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .card-content p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .read-more {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
  }
  .dnd-blog-button {
    background-color: #d92323;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  .dnd-blog-button:hover {
    background-color: white;
    color: #d92323;
  }
  .dnd-blog-button {
    background-color: #d92323;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    text-align: center;
  }
</style>
