---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>BABYLON</h1>

    <canvas id="indexCanvas"></canvas>
    <script src="/jsx/100.shade.js" defer></script>
    <script src="/jsx/111.solid.js" defer></script>
    <script src="/jsx/001.sower.js" defer></script>
  </main>
</Layout>
