---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Clerk + Astro">
  <p>Sign in to try Clerk out!</p>

  <div class="bg-blue-500 text-white p-4 rounded-lg">
  Hello, Welcome to Adventure Fork!
</div>

<div id="indexCanvas"/>

<script src="/jsx/100.shade.js" defer></script>
<script src="/jsx/000.sower.js" defer></script>

</Layout>
