---
import Layout from '~/layouts/PageLayout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('post');


//const { userId } = Astro.locals.auth();
//if (!userId) {
//  return Astro.redirect('/sign-in');
//}

const metadata = {
  title: 'Peachy Quest',
};
---

<Layout metadata={metadata}>
  
  <div class="blog-posts">
  {posts.map((post) => (
    <article>
      <h2>{post.data.title}</h2>
      <post /> {/* Renders the compiled HTML content */}
    </article>
  ))}
</div>

</Layout>
