---
import Layout from '~/layouts/PageLayout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('post');


//const { userId } = Astro.locals.auth();
//if (!userId) {
//  return Astro.redirect('/sign-in');
//}

const metadata = {
  title: 'Peachy Quest',
};
---

<Layout metadata={metadata}>
  
  <div class="blog-posts">
  {posts.map((post) => (
    <article>
      <h2><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
      {post.data.excerpt && <p>{post.data.excerpt}</p>}
    </article>
  ))}
</div>

</Layout>
