---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    
    <h1>PIXI</h1>

    <div id="indexCanvas"/>
<script src="/jsx/100.shade.js" defer></script>
<script src="/jsx/000.sower.js" defer></script>
    
      </main>
</Layout>

